ion-content {
    --background: url(../../assets/img/FundoLogin.png) no-repeat center/cover fixed;
}

.card {

    .header {
        height: 300px;
    }

    .body {
        background-color: transparentize($color: #faf6f6, $amount: 1);
        padding: 30px;
        height: 450px !important; //calc(100vh - (200px + 56px));

        .btn {
            height: 50px;
        }
        .ion-color-light {
            --ion-color-base: #3880FF!important;
        }
    }
}

